@import '../../variables';

.desktop {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #756bce;
  display: flex;
  flex-direction: column;
  .desktop-layer {
    width: 100%;
    height: 100%;
    position: relative;
  }
}