.context-menu {
  .menu {
    position: fixed;
    z-index: 10;
    background: white;
    padding: 6px 0;
    min-width: 120px;
    .menu-option {
      padding: 0 12px;
      font-size: 12px;
      &:hover {
        background: rgba(black, .1);
      }

      > * {
        vertical-align: top;
      }

      i {
        margin-right: 6px;
        line-height: 16px;
      }

      span {
        display: inline-block;
        line-height: 14px;
      }
    }
  }
  .background-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }
}