$black: #17191d;
$shadow: rgba($black, .1);
$accent-text: white;

$accent: #4c7af5;
$accent-1: #4245b7;
$accent-2: #4350c2;
$accent-3: #465bd0;
$accent-4: #4766dc;
$accent-5: $accent;
$accent-6: #5c87f6;
$accent-7: #6e95f8;
$accent-8: #7fa2f8;
$accent-9: #91aff9;